/* static/styles.css */

:root {
    --brd: aqua;
    --bg: rgb(16, 16, 24);
    --jg: rgba(127, 255, 178, 0.888);
    --grey: #ffffff0f;
}
body {
    background-color: var(--bg);
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 10px;
}
#board {
    display: inline-block;
    margin: 20px auto;
}

.cell {
    border-radius: 5px;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #ffffff51;
    margin: 2px;
    padding: 40px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.cell:hover {
    background-color: var(--grey);
}
#message {
    position: fixed;
    top: 45%;
    left: 16%;
}
#go-back {
    position: fixed;
    top: 45%;
    right: 16%;
}
.play-again,
#go-back {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
}
.play-again:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}