<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe</title>
    <link rel="icon" href="../static/tic-tac-toe (1).png">
    <link rel="stylesheet" href="../static/login.css">
    <script src="../static/credential.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body id="whole">
    <div class="wrapper">
        <form action="" id="login-form">
            <h1 id="title">Login</h1>
            <div class="input-box">
                <input class="input" type="text" id="user" placeholder="Username" required>
                <i class='bx bxs-user'></i>
                <label for="username" class="label">Username</label>
            </div>
            <div class="input-box" id="lock">
                <input type="password" id="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt' ></i>
                <label for="password" id="new_pass" class="label">Password</label>
            </div>

            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me</label>
                <a href="#" id="forgot">Forgot Password</a>
            </div>

            <button type="submit" class="btn" id="login">Login</button>

            <div class="register-link">
                <p id="acc">Don't have an account? <a href="#" id="register" onclick="reg()">Register</a></p>
            </div>
        </form>
    </div>
</body>
</html>